{%extends 'baseadmin.html'%}

{%block title%}Información de cliente{%endblock title%}

{%block content%}

	<div class="fdizquierda2">
		<h3>Datos generales</h3>
		<p>Nombre de usuario: {{user.username}}</p>
		<p>Nombre: {{user.first_name}}</p>
		<p>Apellidos: {{user.last_name}}</p>
		<p>Telefono: {{perfil.telefono}}</p> 
		<p>Correo electronico: {{user.email}}</p>
		<p>Fecha de Nacimiento: {{perfil.fecha_de_nacimiento}}</p> 

		<h3>Domicilio</h3>
		<p>Calle: {{direccion.calle}}</p>
		<p>Numero exterior: {{direccion.numero_exterior}}</p>
		<p>Numero interior: {{direccion.numero_interior}}</p>
		<p>Colonia: {{direccion.colonia}}</p>
		<p>Ciudad o municipio: {{direccion.municipio}}</p>
		<p>Estado: {{direccion.estado}}</p>
		<p>Codigo postal: {{direccion.codigo_postal}}</p>
	</div>
	<div class="fdderecha2">
		
		<h3>Servicio</h3>
		<p>Id de servicio: {{servicio.id}}</p>
		<p>Fecha de contrato: {{servicio.inicio_de_servicio}}</p>
		<p>Paquete: {{servicio.paquete}}</p>
		<p>Estado de servicio: {{servicio.estado}}</p>

		{%if redlan.ip_red and celula.ubicacion and linea.descripcion%}
		<h3>Datos de infraestructura</h3>
		<p>IP de red: {{redlan.ip_red}}</p>
		<p>Celula: {{celula.ubicacion}}</p>
		<p>Linea: {{linea.descripcion}}</p>
		{%else%}
		<h3>Instalación pendiente</h3>
		{%endif%}

	</div>

{%endblock content%}