{%extends 'baseadmin.html'%}

{%block title%}Lista de lineas{%endblock title%}

{%block content%}

	<h1>Lista de clientes</h1>

	<a href="">Crear Cliente</a>
    <p>

	<table>
		<thead>
			<tr>
				<th><p align="center">Apellidos</p></th>
				<th><p align="center">Nombre</p></th>
				<th colspan="2" ><p align="center">Acciones</p></th>
			</tr>
		</thead>

		{%for user in users%}

		<tbody>
			<tr>
				<td>{{user.last_name}}</td>
				<td>{{user.first_name}}</td>
				<td><a href="{%url 'clientes:detailCliente' user.pk%}">Ver detalle</a></td>
			</tr>
		</tbody>

		{%empty%}

	</table>
	<h2>Lista vacia</h2>

		{%endfor%}

{%endblock content%}