html, body{
  height: 100%;
  margin-right: 0%;
  margin-left: 0%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.fdizquierda {
	float: left; width: 20%;
}
.fdderecha {
	float: right; width: 80%;
}