section {
    background-color: #bfc9ca ;
    text-align: center;
}

h2 {
	text-align: center;
}
#imag {
	height: 100vh;
}
#myCarousel{
	position: relative;
}

#puntos {
position: absolute;
top: 75%;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
}
body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
body{
	background-color: white;
}