{%extends 'baseadmin.html'%}

{%block title%}Datos de linea{%endblock title%}

{%block content%}

<div class="fdizquierda" align="center">
  <h3>Lista de Lineas</h3>

    {%for lin in lineas%}
      <p><a <a href="{%url 'infraestructura:detailLineaAndlistCelulas' lin.pk%}">{{lin.descripcion}}</a></p>

    {%empty%}

      <p>No existen lineas</p>

    {%endfor%}

  <p><a href="{%url 'infraestructura:listLineas'%}">Regresa</a></p>
</div>
<div class="fdderecha">

<h2>Información de Linea</h2>

  <table>
    <tr>
      <th><p align="center">Descripción</p></th>
      <th><p align="center">Distribuidor</p></th>
      <th><p align="center">Ancho de Banda</p></th>
    </tr>
    <tr>
      <td>{{linea.descripcion}}</td>
      <td>{{linea.distribuidor}}</td>
      <td>{{linea.ancho_de_banda}}</td>     
    </tr>  
  </table>
  <table>
    <tr>
      <th><p align="center">Ubicación</p></th>
      <th><p align="center">Ancho de Banda</p></th>
      <th colspan="3"><p align="center">Acciones</p></th>
    </tr>
  <h2>Lista de celulas</h2>

    <a href="">Crear Celula</a>
    <p>

  {%for celula in celulas%}

    <tr>
      <td>{{celula.ubicacion}}</td>
      <td>{{celula.ancho_de_banda}} Megas</td>
      <td><a href="{%url 'infraestructura:detailCelulaAndListLans' celula.pk%}">Ver detalles</a></td>
      <td><a href="">Editar</a></td>
      <td><a href="">Borrar</a></td>
    </tr>

  {%empty%}

  </table>
  <h2>Vacio</h2>

  {%endfor%}
  
</div>

{%endblock content%}