{%extends 'baseadmin.html'%}

{%block title%}Datos de linea{%endblock title%}

{%block content%}

	<div class="fdizquierda" align="center">
		<h3>Lista de Celulas</h3>

		{%for cel in celulas%}

			<p><a href="{%url 'infraestructura:detailCelulaAndListLans' cel.pk%}">{{cel.ubicacion}}</a></p>

		{%empty%}

			<h2>Vacio</h2>

		{%endfor%}
		<p><a href="{%url 'infraestructura:detailLineaAndlistCelulas' celula.pk%}">Regresa</a></p>
	</div>
	<div class="fdderecha">

		<h2>Información de Celula</h2>

		<table>
			<thead>				
				<th><p align="center">Ubicación</p></th>
				<th><p align="center">Ancho de Banda</p></th>
				<th><p align="center">Linea</p></th>
			</thead>
			<tbody>
				<tr>
					<td>{{celula.ubicacion}}</td>
					<td>{{celula.ancho_de_banda}}</td>
					<td>{{celula.linea}}</td>
				</tr>
			</tbody>
		</table>

		<h2>Lista de redes</h2>

		<a href="">Crear Red</a>
   		<p>

		<table>
			<thead>
				<th><p align="center">IP de red</p></th>
				<th><p align="center">IP de host inicial</p></th>
				<th><p align="center">IP de host final</p></th>
				<th><p align="center">IP de mascara de red</p></th>
				<th><p align="center">Celula</p></th>
				<th><p align="center">Usuario</p></th>
				<th><p align="center">Estado de servicio</p></th>
				<th><p align="center">Acciones</p></th>
			</thead>

			{%for red in redLans%}

			<tbody>
				<tr>
					<td>{{red.ip_red}}</td>
					<td>{{red.ip_host_inicial}}</td>
					<td>{{red.ip_host_final}}</td>
					<td>{{red.ip_mascara_de_red}}</td>
					<td>{{red.celula}}</td>
					<td>{{red.servicio}}</td>
					<td>Aqui falta poner nombre y megas de Paquete</td>
					<td><a href="">Editar</a></td>
				</tr>
			</tbody>

			{%empty%}

			</table>
			<h2>Vacio</h2>
			
			{%endfor%}

	</div>

{%endblock content%}