{%extends 'baseadmin.html'%}

{%block title%}Lista de lineas{%endblock title%}

{%block content%}

 	<h1>Lista de lineas</h1>

 		<a href="{%url 'infraestructura:createLinea' %}">Crear Linea</a>
 		<p>

		<table>
			<tr>
				<th><p align="center">Descripción</p></th>
				<th><p align="center">Distribuidor</p></th>
				<th><p align="center">Ancho de banda</p></th>
				<th><p align="center">Costo</p></th>
				<th><p align="center">Proximo pago</p></th>
				<th colspan="3"><p align="center">Acciones</p></th>
			</tr>

		{%for linea in lineas%}

			<tr>
				<td>{{linea.descripcion}}</td>
				<td>{{linea.distribuidor}}</td>
				<td>{{linea.ancho_de_banda}} Megas</td>
				<td>{{linea.pago}}</td>
				<td>{{linea.fecha_proximo_pago}}</td>
				<td><a href="{%url 'infraestructura:detailLineaAndlistCelulas' linea.pk%}">Ver detalles</a></td>
				<td><a href="{% url 'infraestructura:updateLinea' linea.pk %}">Editar</a></td>
				<td><a href="{% url 'infraestructura:deleteLinea' linea.pk %}">Borrar</a></td>
			</tr>

		{%empty%}

			</table>
		<h3>No hay lineas</h3>

		{%endfor%}

{%endblock content%}s