{%load static%}
<!DOCTYPE html>
<html>
<head>

	<title>{%block title%}{%endblock title%}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/baseadmin.css'%}">

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/baseadmin.css'%}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
	 		<a class="navbar-brand" href="#">Sistema de administración de servicios de Internet</a>
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav navbar-right">
	       			<li><a href="{%url 'infraestructura:listLineas'%}">Infraestructura</a></li>
	        		<li><a href="{%url 'servicio:listServicios'%}">Servicios</a></li>
	        		<li class="dropdown">
        				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes
        				<span class="caret"></span></a>
        				<ul class="dropdown-menu">
          					<li><a href="{%url 'pagos:listPagosPorMes'%}">Pagos del ultimo mes</a></li>
          					<li><a href="{%url 'pagos:listUltimosPagos'%}">Ultimos pagos por cliente</a></li>
        				</ul>
      				</li>
	        		<li><a href="{%url 'clientes:listClientes'%}">Clientes</a></li>
	        		<li><a href="{%url 'servicio:listPaquetes'%}">Paquetes</a></li>  
	        		<li><a href="{%url 'clientes:logout'%}">Cerrar sesión</a></li>  
	      		</ul>
	    	</div>
	 	</div>
	</nav>

	<div class="row">
		<div class="col-md-10 col-md-offset-1 center">{%block content%}{%endblock content%}</div>
	</div>

	    <!-- jQuery -->
    <script src="{%static 'js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>

</html>