{%load static%}
<!DOCTYPE html>
<html>
<head>

	<title>{%block title%}{%endblock title%}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/baseadmin.css'%}">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	 		<a class="navbar-brand" href="#">Sistema de administración de servicios de Internet</a>
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav navbar-right">
	       			<li><a href="{%url 'infraestructura:listLineas'%}">Infraestructura</a></li>
	        		<li><a href="{%url 'servicio:listServicios'%}">Servicios</a></li>
	        		<li><a href="{%url 'servicio:listPaquetes'%}">Paquetes</a></li>  
	        		<li><a href="{%url 'clientes:listClientes'%}">Clientes</a></li>     
	      		</ul>
	    	</div>
	 	</div>
	</nav>

	<div class="row">
		<div class="col-md-10 col-md-offset-1 center">{%block content%}{%endblock content%}</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>