{%extends 'baseadmin.html'%}

{%block title%}Lista de paquetes{%endblock title%}

{%block content%}

	<h1>Lista de paquetes</h1>

    <a href="{% url 'servicio:createPaquete'%}">Crear Paquete</a>
    <p>

	<table>
		<thead>
			<th><p align="center">Nombre</p></th>
			<th><p align="center">Tipo</p></th>
			<th><p align="center">Descripción</p></th>
			<th><p align="center">Ancho de banda de Internet</p></th>
			<th><p align="center">Mensualidad</p></th>
			<th colspan="2"><p align="center">Acciones</p></th>
		</thead>


	{%for paquete in paquetes%}

		<tbody>
			<tr>
				<td>{{paquete.nombre}}</td>
				<td>{{paquete.tipo}}</td>
				<td>{{paquete.descripcion}}</td>
				<td>{{paquete.megas_de_internet}} Megas</td>
				<td>${{paquete.precio}}</td>
				<td><a href="{% url 'servicio:updatePaquete' paquete.pk %}">Editar</a></td>
				<td><a href="{% url 'servicio:deletePaquete' paquete.pk %}">Borrar</a></td>
			</tr>
		</tbody>

	{%empty%}

		</table>
		<h2>Vacio</h2>

	{%endfor%}
 
{%endblock content%}