{%extends 'base.html'%}

{%block title%}Datos de linea{%endblock title%}

{%block content%}

	<h1>Lista de contratos</h1>

    <a href="">Crear Contrato</a>
    <p>

	<table>
		<thead>
			<th><p align="center">Id</p></th>
			<th><p align="center">Usuario</p></th>
			<th><p align="center">Paquete</p></th>
			<th><p align="center">Fecha de alta</p></th>
			<th colspan="2"><p align="center">Acciones</p></th>
		</thead>


	{%for servicio in servicios%}

		<tbody>
			<tr>
				<td>{{servicio.id}}</td>
				<td>{{servicio.user}}</td>
				<td>{{servicio.paquete}}</td>
				<td>{{servicio.fecha}}</td>
				<td><a href="">Editar</a></td>
				<td><a href="">Eliminar</a></td>
			</tr>
		</tbody>

	{%empty%}

		</table>
		<h2>Vacio</h2>

	{%endfor%}
 
{%endblock content%}