{%extends 'base.html'%}

{%block title%}Datos de linea{%endblock title%}

{%block content%}

	<h1>Lista de contratos</h1>

    <a href="">Crear Paquete</a>
    <p>

	<table>
		<thead>
			<th><p align="center">Nombre</p></th>
			<th><p align="center">Descripción</p></th>
			<th><p align="center">Precio</p></th>
			<th colspan="2"><p align="center">Acciones</p></th>
		</thead>


	{%for paquete in paquetes%}

		<tbody>
			<tr>
				<td>{{paquete.nombre}}</td>
				<td>{{paquete.descripcion}}</td>
				<td>{{paquete.precio}}</td>
				<td><a href="">Editar</a></td>
				<td><a href="">Eliminar</a></td>
			</tr>
		</tbody>

	{%empty%}

		</table>
		<h2>Vacio</h2>

	{%endfor%}
 
{%endblock content%}