{%extends 'baseadmin.html'%}

{%block title%}Lista de servicios{%endblock title%}

{%block content%}

	<h1>Lista de contratos</h1>
    <p>

	<table>
		<thead>
			<th><p align="center">Id</p></th>
			<th><p align="center">Usuario</p></th>
			<th><p align="center">Paquete</p></th>
			<th><p align="center">Fecha de alta</p></th>
			<th><p align="center">Estado</p></th>
			<th colspan="2"><p align="center">Acciones</p></th>
		</thead>


	{%for servicio in servicios%}

		<tbody>
			<tr>
				<td>{{servicio.id}}</td>
				<td>{{servicio.user}}</td>
				<td>{{servicio.paquete}}</td>
				<td>{{servicio.inicio_de_servicio}}</td>
				<td>{{servicio.estado}}</td>
				<td><a href="{% url 'servicio:updateServicio' servicio.pk %}">Editar</a></td>
				<td><a href="{% url 'servicio:deleteServicio' servicio.pk %}">Borrar</a></td>
			</tr>
		</tbody>

	{%empty%}

		</table>
		<h2>Vacio</h2>

	{%endfor%}
 
{%endblock content%}