{%extends 'index.html'%}

{%block title%}Inicia sesión{%endblock title%}

{%block content%}

<div class="col-lg-8">

	        <form action="." method="POST" name="auth" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group row">
                <p>Usuario</p>
                <div class="col-lg-8">
                    <input class="form-control" name="username" type="text" id="example-text-input" width="48">
                </div>
            </div>

            <div class="form-group row">
                <p>Contraseña</p>
                <div class="col-lg-8">
                    <input class="form-control" name="password" type="password" id="example-password-input">
                </div>
            </div>
            <br>
            <button class="btn btn-default btn-lg" type="submit" width="48">Login</button>
        </form>
</div>
{%endblock content%}