{%extends 'base.html'%}

{%load static%}

{%block title%}Contacto{%endblock title%}

{%block content%}

        <div class="row">
    	<div class="col-md-5 col-md-offset-1 center">
			<h3>Dirección</h3>
			<h4>Morelos #40</h4>
			<h4>Col. Centro</h4>
			<h4>Morelos #40</h4>
			<br>
			<h3>Telefono</h3>
			<h4>XXXXXXXXX</h4>
			<br>
			<h3>Correo electrónico</h3>
			<h4>contacto@loquesea.com</h4>
	    </div>
        <div class="col-md-5 center">
            <h3>Mapa</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d59884.36549237357!2d-98.98166401968498!3d20.268253522996186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x85d171bffd77b953%3A0xd515cf3c024c79a9!2sCalle+Jose+Maria+Morelos+Y+Pavon+12-20%2C+Obrera%2C+Actopan%2C+Hgo.!3m2!1d20.2681765!2d-98.9465585!5e0!3m2!1ses!2smx!4v1475097693696" width="100%" height="300" frameborder="0" style="border:1" allowfullscreen></iframe>
	        </div>
        </div>


{%endblock content%}