{%extends 'base.html'%}

{%load static%}

{%block title%}Paquetes{%endblock title%}

{%block content%}
	<br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 center">
			<div class="row">
  
	    	{%for paquete in paquetes%}

				<div class="col-md-4">
    				<div class="card card-block">
    					<img class="card-img-top" src="/media/{{paquete.imagen}}" width="200" height="200" alt="Card image cap">
      					<h3 class="card-title">{{paquete.nombre}}</h3>
      					<p class="card-text">{{paquete.descripcion}}</p>
      					<p class="card-text">{{paquete.precio}}</p>
    				</div>
  				</div>

    		{%empty%}

		    </div>
        <h2>Lista de productos vacia</h2>

			{%endfor%}

        </div>
    </div>





{%endblock content%}