{%extends 'base.html'%}

{%load static%}

{%block title%}Nosotros{%endblock title%}

{%block content%}

  <div class="row">
      <div class="col-md-4 col-md-offset-2 center">
      	<br><br>
          <p>Una empresa 100% mexicana enfocada a la proporción de servicios de Internet, Telefonía y Television.</p>
         <p>En la parte centro del Mexico</p>
         <h2>Misión</h2>
         <p>Proveer de servicios de telecomunicaciones a zonas donde es requerido</p>
         <h2>Visión</h2>
         <p>Ser una alternativa atractiva para la población y ser una empresa lider en el mercado.</p>
      </div>
      <div class="col-md-4">
      	<br><br>
  	    <img class="img-responsive" src="{%static 'img/qs.jpg'%}" alt="">
      </div>
  </div>
{%endblock content%}